body {
  --primaryBack: #055524;
  --primaryFore: white;
  --secondaryBack: #57bb8a;
  --secondaryFore: black;
  --debugFirst: #220;
  --debugSecond: #550;
  --debugFore: #ffeb3b;
  --settingsHeaderBack: #006064;
  --settingsHeaderFore: #b2ebf2;
  --settingsBodyBack: #4dd0e1;
  --settingsBodyFore: black;
  --settingsScrollThumb: #0097a7;
  --legalHeaderBack: #e65100;
  --legalHeaderFore: #ffe0b2;
  --legalBodyBack: #ffb74d;
  --legalBodyFore: black;
  --legalScrollThumb: #f57c00;
  --whatsnewHeaderBack: blue900;
  --whatsnewHeaderFore: blue100;
  --whatsnewBodyBack: blue500;
  --whatsnewBodyFore: black;
  --whatsnewScrollThumb: blue700;
  --localFore: purple500;
  --localBack: purple100;
  --betaFore: green800;
  --betaBack: transparent;
  --pdfBtnBack: red400;
  --pdfBtnFore: rgba(255, 255, 255, 0.8);
  --pdfInfoFore: rgba(0, 0, 0, 0.7);
  --sendMarked: lightBlue800;
  --googleSignedout: red400;
  --loopMarked: #a0a0ff;
  --printparamsHeaderBack: #b71c1c;
  --printparamsHeaderFore: #ffcdd2;
  --printparamsBodyBack: #e57373;
  --printparamsBodyFore: black;
  --printparamsScrollThumb: #d32f2f;
  --shortcutHeaderBack: #afb42b;
  --shortcutHeaderFore: #afb42b;
  --shortcutBodyBack: #afb42b;
  --shortcutBodyFore: #afb42b;
  --shortcutScrollThumb: #ff0000;
}

.betaBox {
  box-shadow: 0 0 10px 3px #00ffff;
}

.betaText {
  animation: glowing 1s linear infinite alternate;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 0px;
  }
  100% {
    text-shadow: 0 0 30px;
  }
}
.iconButton material-icon,
.iconButton img {
  margin-right: 1em;
}

.imageButton img {
  height: 16px;
  margin-right: 1em;
}

.controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.controls .label {
  padding-right: 2em;
}
.controls material-fab:not([disabled]) {
  background-color: var(--shortcutHeaderBack);
  color: var(--shortcutHeaderFore);
}

material-dialog[main] {
  min-width: 30%;
}
material-dialog[main] ::ng-deep main::-webkit-scrollbar {
  width: 16px;
}
material-dialog[main] ::ng-deep main::-webkit-scrollbar-track {
  background-color: var(--shortcutBodyBack);
}
material-dialog[main] ::ng-deep main::-webkit-scrollbar-thumb {
  background-color: var(--shortcutScrollThumb);
}
material-dialog[main] ::ng-deep main {
  scrollbar-color: var(--shortcutScrollThumb) var(--shortcutBodyBack);
}
material-dialog[main] ::ng-deep .wrapper > header {
  /*! @noflip */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
material-dialog[main] ::ng-deep .wrapper > main, material-dialog[main][headered] ::ng-deep .wrapper > main {
  padding: 0;
}

material-dialog.headered-dialog ::ng-deep .wrapper > header, material-dialog.headered-dialog[headered] ::ng-deep .wrapper > header {
  background-color: var(--shortcutHeaderBack);
}
material-dialog.headered-dialog ::ng-deep .wrapper > footer, material-dialog.headered-dialog[headered] ::ng-deep .wrapper > footer {
  background-color: var(--shortcutHeaderBack);
  color: var(--shortcutHeaderFore);
  padding: 0;
}
material-dialog.headered-dialog[headered] ::ng-deep .wrapper ::ng-deep h1 {
  background-color: var(--shortcutHeaderBack);
  color: var(--shortcutHeaderFore);
}

.root {
  padding: 1em;
  font-size: 1.2em;
  color: var(--shortcutBodyFore);
  background-color: var(--shortcutBodyBack);
}

div[header] {
  display: flex;
  flex-direction: row;
  color: var(--shortcutHeaderFore);
  justify-content: space-between;
  align-items: center;
}
div[header] div:nth-child(2) {
  display: flex;
  align-items: center;
}

material-dialog[confirm] {
  background-color: var(--shortcutBodyBack);
  color: var(--shortcutBodyFore);
}
material-dialog[confirm] .content {
  font-size: 120%;
  padding: 2em;
}
material-dialog[confirm] .content .marked {
  padding: 1em 0;
  font-weight: bold;
}

div[footer] {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
div[footer] div:first-child {
  margin-left: 1em;
}

.info {
  margin-bottom: 1em;
}

.icondef {
  display: flex;
  flex-direction: row;
  align-items: center;
}

material-input {
  width: initial;
  display: flex;
  flex: 1;
}
material-input ::ng-deep .focused-underline {
  background: var(--shortcutHeaderBack);
}
material-input ::ng-deep .focused.label-text {
  color: var(--shortcutHeaderBack);
}

.indent {
  margin-left: 2em;
}

.data {
  text-transform: none;
}

material-button[raised] {
  background-color: var(--shortcutHeaderBack);
  color: var(--shortcutHeaderFore);
}
