:host {
  margin: 0.5em;
}

material-button:not([icon]) {
  min-width: 42px;
  margin: 0;
}
material-button:not([icon]) > .content {
  padding: 0;
}

.title, .weektitle, .week {
  display: flex;
  flex-direction: row;
}

.title {
  background-color: #006064;
  color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  justify-content: center;
  padding: 0.5em;
}

.weektitle, .weekmarks {
  background-color: #006064;
  color: #fff;
}

.month {
  background-color: #00bcd4;
  color: #000;
  display: flex;
  flex-direction: column;
  /*! @noflip */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.week material-button {
  width: 10px;
}
.week material-button[raised]:not(.key) {
  background-color: #0097a7;
}
.week material-button[raised].key {
  background-color: #0b8043;
}
.week material-button[raised]:not(.key):not([disabled]) {
  color: #000;
}
.week material-button[raised].key:not([disabled]) {
  color: #fff;
}

.done ::ng-deep .content, .close ::ng-deep .content {
  padding-top: 0.05em !important;
  padding-bottom: 0.05em !important;
}

.done {
  color: #aed581;
  background: #006064;
}

.close {
  color: #eda29b;
  background: #db4437;
}
